<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sergio Castillo - Resume</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  {% load static %}
  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic|Raleway:400,300,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Template Name: Kelvin
    Template URL: https://templatemag.com/kelvin-bootstrap-resume-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body data-spy="scroll" data-offset="64" data-target="#section-topbar">

  <div id="section-topbar">
    <div id="topbar-inner">
      <div class="container">
        <div class="row">
          <div class="dropdown">
            <ul id="nav" class="nav">
              <li class="menu-item"><a class="smothscroll" href="#about" title="About"><i class="fa fa-user"></i></a></li>
              <li class="menu-item"><a class="smothscroll" href="#resume" title="Resume"><i class="fa fa-file-text-o"></i></a></li>
              <li class="menu-item"><a class="smothscroll" href="#work" title="Works"><i class="fa fa-briefcase"></i></a></li>
              <li class="menu-item"><a class="smothscroll" href="#contact" title="Contact"><i class="fa fa-envelope"></i></a></li>
            </ul>
            <!--/ uL#nav -->
          </div>
          <!-- /.dropdown -->

          <div class="clear"></div>
        </div>
        <!--/.row -->
      </div>
      <!--/.container -->

      <div class="clear"></div>
    </div>
    <!--/ #topbar-inner -->
  </div>
  <!--/ #section-topbar -->

  <div id="headerwrap">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-12">
          <h1>Sergio Castillo</h1>
          <h3>Full-Stack Developer | janeirosergio@gmail.com</h3>
        </div>
        <!--/.col-lg-12 -->
      </div>
      <!--/.row -->
    </div>
    <!--/.container -->
  </div>
  <!--/.#headerwrap -->


  <section id="about" name="about">
    <div id="intro">
      <div class="container">
        <div class="row">

          <div class="col-lg-2 col-lg-offset-1">
            <h5>ABOUT</h5>
          </div>
          <div class="col-lg-6">
            <p>
              I am a recent coding boot camp graduate who loves to code, problem-solve, and create 
              practical solutions. Seeking to transition from the field of education to pursue 
              engaging, challenging work in the tech industry as a full-time developer. Hoping to 
              combine effective collaboration skills, technical knowledge and teaching experience 
              to provide an appealing and easy-to-use experience for users.
            </p>
          </div>
          <div class="col-lg-3">
            <p><a href="#"><i class="icon-file"></i></a>
              <sm><a href="https://linkedin.com/in/sergiocodes" target="_blank">LINKEDIN PROFILE</a></sm>
            </p>
          </div>

        </div>
        <!--/.row -->
      </div>
      <!--/.container -->
    </div>
    <!--/ #intro -->
  </section>


  <section id="resume" name="resume">
    <!--EDUCATION DESCRIPTION -->
    <div class="container desc">
      <div class="row">

        <div class="col-lg-2 col-lg-offset-1">
          <h5>EDUCATION</h5>
        </div>
        <div class="col-lg-6">
          <p>
            <t>Full-Stack Developer Certificate</t><br/> Coding Dojo - Online <br/>
            <i>7 Month Bootcamp</i>
          </p>
        </div>
        <div class="col-lg-3">
          <p>
            <sm>AUGUST 2021</sm><br/>
          </p>
        </div>

        <div class="col-lg-6 col-lg-offset-3">
          <p>
            <t>B.A. Communication - Advertising</t><br/> University of Texas - Arlington <br/>
            <!--i></i-->
          </p>
        </div>
        <div class="col-lg-3">
          <p>
            <sm>JUNE 2009</sm>
          </p>
        </div>

      </div>
      <!--/.row -->
      <br>
      <hr>
    </div>
    <!--/.container -->
  </section>


  <!--WORK DESCRIPTION -->
  <div class="container desc">
    <div class="row">

      <div class="col-lg-2 col-lg-offset-1">
        <h5>WORK</h5>
      </div>
      <div class="col-lg-6">
        <p>
          <t>Bilingual Educator</t><br/> Richardson ISD & Dallas ISD <br/>
        </p>
        <p>
          <li>Roles include:  2nd-grade bilingual teacher, grade level chair, and after-school tutor at 2 different Title I schools.</li>
          <li>Created individualized plans that met diverse learning needs: 87% of students achieved Tier 1 status and 4% achieved Tier 2 on their Reading proficiency assessment and 93.3% student passing rate on Mathematics ACP.</li>
          <li>Fundraised over $5,400 on a crowdfunding website to provide supplies and resources for my students. <a href="https://www.donorschoose.org/s-castillo" target="_blank">LINK</a></li>
        </p>
      </div>
      <div class="col-lg-3">
        <p>
          <sm>JULY 2016 - JULY 2021</sm>
        </p>
      </div>

      <div class="col-lg-6 col-lg-offset-3">
        <p>
          <t>Online Content Creator</t><br/><a href="https://www.k-is4korean.com" target="_blank">k-is4korean.com</a><br/>
        </p>
        <p>
          <li>Edited and produced original content including video tutorials, translations, and articles driving user engagement through daily educational lessons sent to 10,000+ social media subscribers.</li>
          <li>Created, branded, designed, and setup Korean language learning blog online including the production of an educational eBook, The Korean Consonants Book, as supplemental learning material. <a href="https://books.apple.com/us/book/the-korean-consonants-book/id923485299" target="_blank">LINK</a></li>
        </p>
      </div>
      <div class="col-lg-3">
        <p>
          <sm>MAY 2014 - NOVEMBER 2015</sm>
        </p>
      </div>
    </div>
    <!--/.row -->
    <br>
    <hr>
  </div>
  <!--/.container -->


  <!--AWARDS DESCRIPTION -->
  <div class="container desc">
    <div class="row">
      <div class="col-lg-2 col-lg-offset-1">
        <h5>AWARDS</h5>
      </div>
      <div class="col-lg-6">
        <p>
          <t>Americorps Certificate of National Service	</t><br/> AMERICORPS <br/>
        </p>
      </div>
      <div class="col-lg-3">
        <p>
          <sm>JUNE 2016</sm>
        </p>
      </div>
    </div>
    <!--/.row -->
    <br>
  </div>
  <!--/.container -->


  <!--SKILLS DESCRIPTION -->
  <div id="skillswrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-lg-offset-1">
          <h5>SKILLS</h5>
        </div>
        <div class="col-lg-3 centered">
          <canvas id="javascript" height="130" width="130"></canvas>
          <p>Python</p>
          <br>
        </div>
        <div class="col-lg-3 centered">
          <canvas id="bootstrap" height="130" width="130"></canvas>
          <p>Bootstrap</p>
          <br>
        </div>
        <div class="col-lg-3 centered">
          <canvas id="wordpress" height="130" width="130"></canvas>
          <p>Javascript</p>
          <br>
        </div>

        <div class="col-lg-3 col-lg-offset-3 centered">
          <canvas id="html" height="130" width="130"></canvas>
          <p>HTML/CSS</p>
          <br>
        </div>
        <div class="col-lg-3 centered">
          <canvas id="photoshop" height="130" width="130"></canvas>
          <p>Github</p>
          <br>
        </div>
        <div class="col-lg-3 centered">
          <canvas id="illustrator" height="130" width="130"></canvas>
          <p>Photoshop</p>
          <br>
        </div>

      </div>
      <!--/.row -->
      <br>
    </div>
    <!--/.container -->
  </div>
  <!--/ #skillswrap -->

  <section id="work" name="work">
    <!--PORTFOLIO DESCRIPTION -->
    <div class="container desc">
      <div class="row">
        <div class="col-lg-2 col-lg-offset-1">
          <h5>PORTFOLIO</h5>
        </div>
        <div class="col-lg-6">
          <p><a href="https://cdmx-museum.herokuapp.com/" target="_blank"><img class="img-responsive" src="{% static 'img/port01.gif' %}" alt=""></a></p>
        </div>
        <div class="col-lg-3">
          <h4><a href="https://cdmx-museum.herokuapp.com/" target="_blank">MUSEUMS APP</a></h4>
            <more>A crowdsource web application to review museums in Mexico City</more><br/>
              <h5>Designed and developed, responsive, and scalable web app using Django MTV framework and ORM</h5>
              <h5>Streamlined the user experience so that adding, editing, and deleting museum reviews is quick and easy</h5>
              <h5>Enhanced user security and data by using BCrypt</h5> 
              <h5>Validations included for login, registration, and user-created data</h5>
              <sm><i class="icon-tag"></i> full-stack</sm><br/><br/><br/>
        </div>
      </div>
    </div>
    <div class="container desc">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
          <p><a href="https://powerful-citadel-48099.herokuapp.com/" target="_blank"><img class="img-responsive" src="{% static 'img/port02.gif' %}" alt=""></a></p>
        </div>
        <div class="col-lg-3">
          <h4><a href="https://powerful-citadel-48099.herokuapp.com/" target="_blank">MATH FLASHCARDS</a></h4>
            <more>An educational app with randomly generated flashcards for addition, subtraction, multiplication, and division practice</more><br/>
              <h5>Designed animated flashcards and implemented responsive design with Bootstrap</h5>
              <h5>Enhanced algorithms to generate random flashcards that are mathematically logical with young learners in mind</h5>
              <h5>Implemented a point system to keep score for questions answered</h5>
              <sm><i class="icon-tag"></i> full-stack</sm>    
        </div>
      </div>
    </div>
    <br>
    <div class="container desc">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
          <p><a href="https://k-is4korean.com/" target="_blank"><img class="img-responsive" src="{% static 'img/port03.gif' %}" alt=""></a></p>
        </div>
        <div class="col-lg-3">
          <h4><a href="https://k-is4korean.com/" target="_blank">KOREAN LEARNING BLOG</a></h4>
            <more>A Korean language learning blog providing daily mini-lessons for followers on Tumblr platform</more><br/>
            <h5>Created original content to teach Korean literacy using gifs, articles, videos and info graphics</h5>
            <h5>Created an eBook using iBooks Author to teach English language learners the Korean alphabet</h5>
            <h5>Increased blog engagement by listening to followers and providing requested mini-lessons</h5>  
            <sm><i class="icon-tag"></i> blogging </sm>
        </div>
      </div>
    </div>
      <!--/.row -->
      <br>
      <br>
    <!--/.container -->
  </section>

  <section id="contact" name="contact">
    <!--FOOTER DESCRIPTION -->
    <div id="footwrap">
      <div class="container">
        <div class="row">

          <div class="col-lg-2">
            <h5>CONTACT</h5>
          </div>
          <div class="col-lg-4">
            <p>
              <t>Email</t><br/> janeirosergio@gmail.com <br/>
            </p>
            <p>
              <t>Adress</t><br/> 7601 Churchill Way, #1617 <br/> Dallas, TX 75251<br/>
            </p>
            <p>
              <t>Phone</t><br/> (469) 570-4384 <br/>
            </p>
            <p>
              <t>Social Links</t><br/>
              <!--a href="#"><i class="fa fa-dribbble"></i></a-->
              <!--a href="#"><i class="fa fa-twitter"></i></a-->
              <!--a href="#"><i class="fa fa-facebook"></i></a-->
              <a href="https://linkedin.com/in/sergiocodes" target="_blank" style="font-size:36px"><i class="fa fa-linkedin"></i></a>
              <a href="https://github.com/castillocodes" target="_blank"><i class="fa fa-github" style="font-size:36px"></i></a>
            </p>
          </div>
          <!--div class="col-lg-6">
            <p>
              <sm>CONTACT FORM</sm>
            </p>
            <form class="contact-form php-mail-form" role="form" action="contactform/contactform.php" method="POST">

              <div class="form-group">
                <label for="contact-name">Your Name</label>
                <input type="name" name="name" class="form-control" id="contact-name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <label for="contact-email">Your Email</label>
                <input type="email" name="email" class="form-control" id="contact-email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <label for="contact-subject">Subject</label>
                <input type="text" name="subject" class="form-control" id="contact-subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
                <div class="validate"></div>
              </div>

              <div class="form-group">
                <label for="contact-message">Your Message</label>
                <textarea class="form-control" name="message" id="contact-message" placeholder="Your Message" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>
                <div class="validate"></div>
              </div>

              <div class="loading"></div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>

              <div class="form-send">
                <button type="submit" class="btn btn-large">Send Message</button>
              </div>

            </form>

          </div-->
        </div>
        <!--/.row -->
      </div>
      <!--/.container -->
    </div>
    <!--/ #footer -->
  </section>

  <div id="copyrights">
    <div class="container">
      <p>
        &copy; Copyrights <strong>Kelvin</strong>. All Rights Reserved
      </p>
      <div class="credits">
        <!--
          You are NOT allowed to delete the credit link to TemplateMag with free version.
          You can delete the credit link only if you bought the pro version.
          Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/kelvin-bootstrap-resume-template/
          Licensing information: https://templatemag.com/license/
        -->
        Created with Kelvin template by <a href="https://templatemag.com/">TemplateMag</a>
      </div>
    </div>
  </div>

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'lib/php-mail-form/validate.js' %}"></script>
  <script src="{% static 'lib/chart/chart.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>
</html>
